/*
 * GitHub style for Pygments syntax highlighter, for use with Jekyll
 * Courtesy of GitHub.com
 */

// 1
// .highlight .c { color: #999988; font-style: italic; }
// // .highlight .err { color: #a61717; background-color: #e3d2d2; }
// .highlight .k { font-weight: bold; }
// .highlight .o { font-weight: bold; }
// .highlight .cm { color: #999988; font-style: italic; }
// .highlight .cp { color: #999999; font-weight: bold; }
// .highlight .c1 { color: #999988; font-style: italic; }
// .highlight .cs { color: #999999; font-weight: bold; font-style: italic; }
// .highlight .gd { color: #000000; background-color: #ffdddd; }
// .highlight .gd .x { color: #000000; background-color: #ffaaaa; }
// .highlight .ge { font-style: italic; }
// .highlight .gr { color: #aa0000; }
// .highlight .gh { color: #999999; }
// .highlight .gi { color: #000000; background-color: #ddffdd; }
// .highlight .gi .x { color: #000000; background-color: #aaffaa; }
// .highlight .go { color: #888888; }
// .highlight .gp { color: #555555; }
// .highlight .gs { font-weight: bold; }
// .highlight .gu { color: #800080; font-weight: bold; }
// .highlight .gt { color: #aa0000; }
// .highlight .kc { font-weight: bold; }
// .highlight .kd { font-weight: bold; }
// .highlight .kn { font-weight: bold; }
// .highlight .kp { font-weight: bold; }
// .highlight .kr { font-weight: bold; }
// .highlight .kt { color: #445588; font-weight: bold; }
// .highlight .m { color: #009999; }
// .highlight .s { color: #dd1144; }
// .highlight .n { color: #333333; }
// .highlight .na { color: teal; }
// .highlight .nb { color: #0086b3; }
// .highlight .nc { color: #445588; font-weight: bold; }
// .highlight .no { color: teal; }
// .highlight .ni { color: purple; }
// .highlight .ne { color: #990000; font-weight: bold; }
// .highlight .nf { color: #990000; font-weight: bold; }
// .highlight .nn { color: #555555; }
// .highlight .nt { color: navy; }
// .highlight .nv { color: teal; }
// .highlight .ow { font-weight: bold; }
// .highlight .w { color: #bbbbbb; }
// .highlight .mf { color: #009999; }
// .highlight .mh { color: #009999; }
// .highlight .mi { color: #009999; }
// .highlight .mo { color: #009999; }
// .highlight .sb { color: #dd1144; }
// .highlight .sc { color: #dd1144; }
// .highlight .sd { color: #dd1144; }
// .highlight .s2 { color: #dd1144; }
// .highlight .se { color: #dd1144; }
// .highlight .sh { color: #dd1144; }
// .highlight .si { color: #dd1144; }
// .highlight .sx { color: #dd1144; }
// .highlight .sr { color: #009926; }
// .highlight .s1 { color: #dd1144; }
// .highlight .ss { color: #990073; }
// .highlight .bp { color: #999999; }
// .highlight .vc { color: teal; }
// .highlight .vg { color: teal; }
// .highlight .vi { color: teal; }
// .highlight .il { color: #009999; }
// .highlight .gc { color: #999; background-color: #EAF2F5; }



// Dark
// .highlight .hll { background-color: #f1fa8c }
// .highlight  { background: #2c3949; color: #f8f8f2 }
// .highlight .c { color: #6272a4 } /* Comment */
// .highlight .err { color: #f8f8f2 } /* Error */
// .highlight .g { color: #f8f8f2 } /* Generic */
// .highlight .k { color: #ff79c6 } /* Keyword */
// .highlight .l { color: #f8f8f2 } /* Literal */
// .highlight .n { color: #f8f8f2 } /* Name */
// .highlight .o { color: #ff79c6 } /* Operator */
// .highlight .x { color: #f8f8f2 } /* Other */
// .highlight .p { color: #f8f8f2 } /* Punctuation */
// .highlight .ch { color: #6272a4 } /* Comment.Hashbang */
// .highlight .cm { color: #6272a4 } /* Comment.Multiline */
// .highlight .cp { color: #ff79c6 } /* Comment.Preproc */
// .highlight .cpf { color: #6272a4 } /* Comment.PreprocFile */
// .highlight .c1 { color: #6272a4 } /* Comment.Single */
// .highlight .cs { color: #6272a4 } /* Comment.Special */
// .highlight .gd { color: #8b080b } /* Generic.Deleted */
// .highlight .ge { color: #f8f8f2; text-decoration: underline } /* Generic.Emph */
// .highlight .gr { color: #f8f8f2 } /* Generic.Error */
// .highlight .gh { color: #f8f8f2; font-weight: bold } /* Generic.Heading */
// .highlight .gi { color: #f8f8f2; font-weight: bold } /* Generic.Inserted */
// .highlight .go { color: #44475a } /* Generic.Output */
// .highlight .gp { color: #f8f8f2 } /* Generic.Prompt */
// .highlight .gs { color: #f8f8f2 } /* Generic.Strong */
// .highlight .gu { color: #f8f8f2; font-weight: bold } /* Generic.Subheading */
// .highlight .gt { color: #f8f8f2 } /* Generic.Traceback */
// .highlight .kc { color: #ff79c6 } /* Keyword.Constant */
// .highlight .kd { color: #8be9fd; font-style: italic } /* Keyword.Declaration */
// .highlight .kn { color: #ff79c6 } /* Keyword.Namespace */
// .highlight .kp { color: #ff79c6 } /* Keyword.Pseudo */
// .highlight .kr { color: #ff79c6 } /* Keyword.Reserved */
// .highlight .kt { color: #8be9fd } /* Keyword.Type */
// .highlight .ld { color: #f8f8f2 } /* Literal.Date */
// .highlight .m { color: #bd93f9 } /* Literal.Number */
// .highlight .s { color: #f1fa8c } /* Literal.String */
// .highlight .na { color: #50fa7b } /* Name.Attribute */
// .highlight .nb { color: #8be9fd; font-style: italic } /* Name.Builtin */
// .highlight .nc { color: #50fa7b } /* Name.Class */
// .highlight .no { color: #f8f8f2 } /* Name.Constant */
// .highlight .nd { color: #f8f8f2 } /* Name.Decorator */
// .highlight .ni { color: #f8f8f2 } /* Name.Entity */
// .highlight .ne { color: #f8f8f2 } /* Name.Exception */
// .highlight .nf { color: #50fa7b } /* Name.Function */
// .highlight .nl { color: #8be9fd; font-style: italic } /* Name.Label */
// .highlight .nn { color: #f8f8f2 } /* Name.Namespace */
// .highlight .nx { color: #f8f8f2 } /* Name.Other */
// .highlight .py { color: #f8f8f2 } /* Name.Property */
// .highlight .nt { color: #ff79c6 } /* Name.Tag */
// .highlight .nv { color: #8be9fd; font-style: italic } /* Name.Variable */
// .highlight .ow { color: #ff79c6 } /* Operator.Word */
// .highlight .w { color: #f8f8f2 } /* Text.Whitespace */
// .highlight .mb { color: #bd93f9 } /* Literal.Number.Bin */
// .highlight .mf { color: #bd93f9 } /* Literal.Number.Float */
// .highlight .mh { color: #bd93f9 } /* Literal.Number.Hex */
// .highlight .mi { color: #bd93f9 } /* Literal.Number.Integer */
// .highlight .mo { color: #bd93f9 } /* Literal.Number.Oct */
// .highlight .sa { color: #f1fa8c } /* Literal.String.Affix */
// .highlight .sb { color: #f1fa8c } /* Literal.String.Backtick */
// .highlight .sc { color: #f1fa8c } /* Literal.String.Char */
// .highlight .dl { color: #f1fa8c } /* Literal.String.Delimiter */
// .highlight .sd { color: #f1fa8c } /* Literal.String.Doc */
// .highlight .s2 { color: #f1fa8c } /* Literal.String.Double */
// .highlight .se { color: #f1fa8c } /* Literal.String.Escape */
// .highlight .sh { color: #f1fa8c } /* Literal.String.Heredoc */
// .highlight .si { color: #f1fa8c } /* Literal.String.Interpol */
// .highlight .sx { color: #f1fa8c } /* Literal.String.Other */
// .highlight .sr { color: #f1fa8c } /* Literal.String.Regex */
// .highlight .s1 { color: #f1fa8c } /* Literal.String.Single */
// .highlight .ss { color: #f1fa8c } /* Literal.String.Symbol */
// .highlight .bp { color: #f8f8f2; font-style: italic } /* Name.Builtin.Pseudo */
// .highlight .fm { color: #50fa7b } /* Name.Function.Magic */
// .highlight .vc { color: #8be9fd; font-style: italic } /* Name.Variable.Class */
// .highlight .vg { color: #8be9fd; font-style: italic } /* Name.Variable.Global */
// .highlight .vi { color: #8be9fd; font-style: italic } /* Name.Variable.Instance */
// .highlight .vm { color: #8be9fd; font-style: italic } /* Name.Variable.Magic */
// .highlight .il { color: #bd93f9 } /* Literal.Number.Integer.Long */

//Light...
.highlight {
  // margin-bottom:10px;
  // margin: 0px;
}

pre.highlight {
  // background: #fafafa;
  color: #383a42;
  // margin-left: 0;
  // margin-right:10%;
  // width:100%;
  // border: 5px solid red;
}

.highlight pre {
  background: #f4f4f4;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 #dbdbdb;
  // border: 1px solid #e5e5e5;
  // margin-right:10px;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: 700;
}
.highlight .ow {
  font-weight: 700;
}
.highlight .n,
.highlight .nf,
.highlight .nn,
.highlight .o,
.highlight .p {
  color: #383a42;
}
.highlight .c,
.highlight .c1,
.highlight .cm,
.highlight .cp,
.highlight .cs {
  color: #a0a1a7;
  font-style: italic;
}
.highlight .sr,
.highlight .ss {
  color: #0184bc;
}
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt {
  color: #a626a4;
}
.highlight .l,
.highlight .ld,
.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx {
  color: #50a14f;
}
.highlight .nt,
.highlight .nx,
.highlight .vi {
  color: #e45649;
}
.highlight .il,
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .na {
  color: #986801;
}
.highlight .bp,
.highlight .nb,
.highlight .nc,
.highlight .nd,
.highlight .ne,
.highlight .ni,
.highlight .nl,
.highlight .no,
.highlight .nv,
.highlight .py,
.highlight .vc,
.highlight .vg {
  color: #c18401;
}
// .highlight .err {
//   color: #fff;
//   background-color: #ff1414;
// }
.highlight .gd {
  color: #ff1414;
}
.highlight .gi {
  color: #2db448;
}
.highlight .w {
  color: #f8f8f2;
}
.highlight .cpf {
  color: navy;
}
.highlight .gu {
  color: #75715e;
}
.highlight .lineno {
  color: #9d9d9f;
  user-select: none;
}
.highlight .ln {
  color: #9d9d9f;
  user-select: none;
}
.highlight .ln:after {
  content: " ";
}
.highlight .hll {
  color: #383a42;
  background-color: #e5e5e6;
}
.highlight .hl {
  color: #383a42;
  background-color: #e5e5e6;
}
.highlight .language-json .w + .s2 {
  color: #e45649;
}
.highlight .language-json .kc {
  color: #0184bc;
}
